.mj-footer {
    @include padding(large);
    background: get-color(box, light);

    &__logo {
        display: block;
        @include margin(none auto);
        max-width: px-to-rem(80);

        img {
            width: 100%;
        }

    }
}
