.mj-hero {
    position: relative;
    background-image: url("/assets/images/std-hero-sm.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 125%;

    @include breakpoint($tablet) {
        background-image: url("/assets/images/std-hero-md.jpg");
        padding-top: 130%;
    }

    @include breakpoint($desktop) {
        background-image: url("/assets/images/std-hero-lg.jpg");
        padding-top: 70%;
    }

    &__logo {
        position: absolute;
        top: 0;
        right: 10%;
        width: 25%;
        max-width: px-to-rem(100);

        @include breakpoint($tablet) {
            left: 10%;
            right: auto;
        }
    }

    &__details {
        position: absolute;
        width: 70%;
        top: 35%;
        right: 50%;
        @include transform(translateX(50%));
        overflow: hidden;
        text-align: center;
        @include margin(none auto);

        @include breakpoint($tablet) {
            width: 45%;
            top: 40%;
            right: 5%;
            @include transform(none);

        }

        @include breakpoint($desktop) {
            width: 40%;
            top: 20%;
            right: 5%;
        }

    }

    &__title {
        display: block;
        @include set-type(secondary, tera, normal, invert);
        font-size: px-to-rem(70);
        line-height: 1;
        margin-bottom: px-to-rem(40);


        @include breakpoint($tablet) {
            font-size: px-to-rem(100);
            margin-bottom: px-to-rem(70);
        }

        @include breakpoint($desktop) {
            font-size: px-to-rem(118);
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__eyebrow {
        @include set-type(primary, micro, bold, invert);
        text-transform: uppercase;

        @include breakpoint($tablet) {
            @include set-type-size(kilo)
        }
    }

    &__date {
        @include padding(xsmall large);
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid get-color(outline, invert);
        border-left: none;
        border-right: none;
        @include set-type(primary, mega, bold, invert);
        text-align: center;
    }
}
