/* ==========================================================================
   EXAMPLE MODULE

   Example module to demonstrate importing partials
   ========================================================================== */
.mj-section {
    width: 100%;
    max-width: 100%;
    @include padding(none xlarge);

    @include breakpoint($desktop) {
        padding-left: calc((50% + 40px) - 400px);
        padding-right: calc((50% + 40px) - 400px);
    }

    &--padded {
        @include padding-top(xxlarge);
        @include padding-bottom(xxlarge);
    }
}
