/* ==========================================================================
   EXAMPLE MODULE

   Example module to demonstrate importing partials
   ========================================================================== */
.mj-section {
    width: 100%;
    max-width: 100%;
    @include padding(none small);

    @include breakpoint($tablet) {
        @include padding(none xlarge);

    }

    @include breakpoint($desktop) {
        padding-left: calc((50% + 20px) - 600px);
        padding-right: calc((50% + 20px) - 600px);
    }

    &--padded {
        @include padding-top(xxlarge);
        @include padding-bottom(xxlarge);
    }
}
