<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Marci + Julian Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <section class="mj-hero">
        <nav>
            <div class="mj-hero__logo">
                <img src="/assets/images/std-logo.png" alt="Marci + Julian">
            </div>
        </nav>
        <div class="mj-hero__details">
            <div class="mj-hero__title">
                <img src="/assets/images/std-hero-title.png" alt="">
            </div>
            <div class="mj-hero__date">7/7/17</div>

        </div>

    </section>
    <section class="mj-section mj-section--padded">
        <div class="mj-heading">
            <h2 class="mj-heading__title">Come Celebrate our Wedding</h2>
            <p class="mj-heading__subtitle">Please join us July 7<sup>th</sup>, 2017 for a casual ceremony, followed by dinner and drinks at the anthony wayne house in Paoli Pennsylvania.</p>
        </div>
        <div class="mj-details mj-details--border">
            <div class="mj-details__item">
                <h4 class="mj-details__title">The "I Do's"</h4>
                <p class="mj-details__detail">Friday, July 7th, 2017 &mdash; 5:30 PM</p>
            </div>
            <div class="mj-details__item">
                <h4 class="mj-details__title">The Party</h4>
                <p class="mj-details__detail">dinner, drinks and dancing to immediately follow ceremony</p>
            </div>
            <div class="mj-details__item">
                <h4 class="mj-details__title">The Location</h4>
                <p class="mj-details__detail">
                    Anthony Wayine House<br />
                    2049 Waynesborough Road<br />
                    Paoli, PA 19301
                </p>
            </div>
        </div>
    </section>
    <section class="mj-section mj-section--padded mj-accom">
        <div class="mj-heading mj-heading--invert">
            <h2 class="mj-heading__title">Accommodations</h2>
            <p class="mj-heading__subtitle">Blocks of rooms have been reserved at the Desmond Hotel Malvern. Several room types will be available. to receive the wedding group discount Mention the DeVincenzo-Gibellino wedding.</p>
        </div>
        <div class="mj-details mj-details--invert">
            <div class="mj-details__item">
                <p class="mj-details__detail">
                    The Desmond Hotel Malvern<br />
                    1 Liberty Blvd<br />
                    Malvern, PA 19355
                </p>
                <p class="mj-details__sub-detail">(Shuttles will be provided to and from the ceremony)</p>
            </div>
        </div>
        <div class="mj-accom__cta">
            <a class="mj-accom__button" href="http://www.desmondgv.com/" target="_blank">Book Online</a>
        </div>
    </section>
    <footer class="mj-footer">
        <div class="mj-footer__logo">
            <img src="/assets/images/std-footer-logo.png" alt="Marci + Julian">
        </div>
    </footer>
    <script src="js/main.js"></script>

</body>
</html>
