/* //////////////////////////////////////////////////////////////////////////
   //////////////////////////////////////////////////////////////////////////

   COMMON STYLE MANIFEST

   GUIDELINES:
   - Category imports should follow the following order of:
        - Vendor
        - Utils
        - Base
        - Layout
        - Modules

    - All partials should be imported in alphabetical order within a section
      unless otherwise noted in the category notes.

   //////////////////////////////////////////////////////////////////////////
   ////////////////////////////////////////////////////////////////////////// */

/* ==========================================================================
   VENDOR

   TYPES: third-party libraries, mixin and functions
   ========================================================================== */
@import '../../node_modules/compass-mixins/lib/compass';
@import '../../node_modules/compass-mixins/lib/animate';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

/* ==========================================================================
   Utils

   TYPES: mixin and functions
   ========================================================================== */
@import 'utils/directional-properties';
@import 'utils/map-fetch';
@import 'utils/px-to';
@import 'utils/strip-units';

/* ==========================================================================
   BASE

   TYPES: normalize, reset, typography, grid, etc
   ========================================================================== */
@import 'base/breakpoints';
@import 'base/colors';
@import 'base/fonts';
@import 'base/reset';
@import 'base/spacing';
@import 'base/typography';

/* ==========================================================================
   MODULES

   TYPES: stand-alone components
   ========================================================================== */
@import 'modules/accommodations';
@import 'modules/content';
@import 'modules/details';
@import 'modules/footer';
@import 'modules/headings';
@import 'modules/hero';
@import 'modules/section';
